# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

# IDE
.idea/
*.iml
.vscode/
*.swp

# Android
android/.gradle/
android/local.properties
android/key.properties
android/*.keystore
**/android/app/debug
**/android/app/profile
**/android/app/release

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Flutter/ephemeral/

# Misc
*.log
.DS_Store
